<p>
  <strong> Item:</strong>
  <%= @invoice.item %>
</p>
<p>
  <strong> Details:</strong>
  <%= @invoice.details %>
</p>
<p>
  <strong> Price:</strong>
  <%= @invoice.price %>
</p>
<%= link_to 'Back', invoices_path %>
