</p>we are here: app/views/welcome/show.html.erb</p>
<%=link_to 'Invoice',controller: 'invoices'%>
</br>
hello there from <strong><%=`hostname && hostname -i`%></strong>
this page is reloaded every 3sec...just for fun ;)
<script>
  setTimeout(function(){ location.reload(); }, 3000);
 </script>
